    {% include 'header.html' %}
    <link rel="stylesheet" href="/static/css/index.css">
    <br>
    <a href="{{url_for('create')}}" class="btn btn-success">
        Ingresar Nuevo Empleado
    </a>
    <br>
    <br>
    <h1>Listado de empleados</h1>
    <table class="table table-light">
        <thead>
            <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{empleado[0]}}</td>
                <td>
                    <img class="thumbnail" width="60" height="60" src="uploads/{{empleado[3]}}" alt="">
                </td>
                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
                <td>
                    <a class="btn btn-warning" href="/edit/{{empleado[0]}}">Editar</a>
                    <a onclick="return confirm('¿Seguro desea borrar al empleado?')" class="btn btn-danger" href="/destroy/{{empleado[0]}}">Eliminar</a>
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>
    {% include 'footer.html' %}